<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper">
        <div id="root">
            <!-- parte sinistra -->
            <aside>
                <div class="user-name-ads">
                    <!-- profilo -->
                    <div class="profile">
                        <img src="img/avatar_io.jpg" alt="user image">
                        <div class="user-name">
                            <b>Nome Utente</b>
                        </div>
                    </div>

                    <div class="icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- ads -->
                <div class="ads">
                    <div class="icons">
                        <a href="#">
                            <i class="fa-solid fa-bell-slash"></i>
                        </a>
                    </div>
                    <div class="ads-text">
                        <b>Ricevi notifiche di nuovi messaggi</b>
                        <div class="ads-link">
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                </div>

                <!-- chat -->
                <div class="chat-container">
                    <div class="search">
                        <div class="icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <input v-model="userSearch" type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>

                    <ul>
                        <li @click="goToThisChat(index)" v-for="(contact, index) in contacts" class="chat" :class="index === currentChat ? 'active' : '' " >
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                            <div class="user-name">
                                <b>{{ contact.name }}</b>
                            </div>
                        </li>
                    </ul>
                </div>
            </aside>


            <!-- parte destra -->
            <div class="main-chat">
                <!-- chat corrente -->
                <div class="current-chat">
                    <div class="chat-info">
                        <div class="info">
                            <img :src="'img/avatar' + contacts[currentChat].avatar + '.jpg'" alt="contacts[currentChat].name">
                            <div class="user-name">
                                <b>{{ contacts[currentChat].name }}</b>
                                <div class="last-access">
                                    Ultimo accesso oggi alle 
                                </div>
                            </div>
                        </div>
                    
                        <div class="icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div> 
                    
                    <div class="chat-area">
                        <div class="message" v-for="message, index in contacts[currentChat].messages" :class="message.status">
                            <div>
                                {{ message.text }}
                            </div>
                            <div class="date">
                                {{ message.date }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-area">
                        <i class="fa-regular fa-face-smile"></i>
                        <input v-model="textMessage" type="text" placeholder="Scrivi un messaggio">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>